<h2>Сторінка ваших замовлень</h2>

<div class="basket">
    <div class="items left-side">
        <div
            class="product-item"
            *ngFor="let product of products"
        >
            {{ product.category }}
            <br>
            {{ product.title }}
            <br>
            {{ product.price | currency }}
            <br>
            <button (click)="deleteOrder(product)">Видалити</button>
        </div>
    </div>
    <div class="total-price right-side">
        <span>{{ priceTotal }} $</span>
        <hr>
        <button>Підтвердити замовлення</button>
    </div>
</div>
