<h2>Сторінка ваших замовлень</h2>

<div class="basket center">
    <div class="items left-side">
        <div
            class="product-item"
            *ngFor="let product of products"
        >
        <img width="200" [src]="product.image" alt="image">
           <span class="category">{{ product.category }}</span>
            <br>
            {{ product.title }}
            <br>
           <span class="price">{{ product.price | currency }}</span>
            <br>
            <button (click)="deleteOrder(product)">Видалити</button>
        </div>
    </div>
    <div class="total-price right-side">
        <span>{{ priceTotal }} $</span>
        <hr>
        <button class="accept-btn">Підтвердити замовлення</button>
    </div>
</div>
