.text-white {
  display: block;
  width: 50%;
  margin: 20px auto 300px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  color: white;
}
